[submodule "nvim/bundle/vim-pathogen"]
	path = nvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "nvim/bundle/supertab"]
	path = nvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
