[submodule "bin/rename"]
	path = bin/rename
	url = https://github.com/ap/rename
[submodule "vim/pack/contrib/start/supertab"]
	path = vim/pack/contrib/start/supertab
	url = https://github.com/ervandew/supertab.git
